<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<title>{% block title %}{% endblock %}</title>
	{#<link rel="shortcut icon" href="{{ asset('default/img/favicon.ico') }}">#}
	<link href="{{ asset('default/css/style.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('default/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

</head>
<body>

<div class="wrapper">

	<div class="header">
		{{ render(url('header')) }}
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				{% block Content %}
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="footer">
		{{ render(url('footer')) }}
	</div>

</div>
</body>
</html>